
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- font---------------------------------------->
    <link href="~/Admin_Primery_Tempelet/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">*@
    <link href="~/Primery_Site_tempelate/assets/css/vendor/materialdesignicons.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="assets/css/vendor/materialdesignicons.css">*@
   
    <!-- plugin-------------------------------------->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="assets/css/vendor/bootstrap.css">*@
    <link href="~/Primery_Site_tempelate/assets/css/vendor/owl.carousel.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="assets/css/vendor/owl.carousel.min.css">*@
    <link href="~/Primery_Site_tempelate/assets/css/vendor/noUISlider.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="assets/css/vendor/noUISlider.min.css">*@
    <!-- main-style---------------------------------->
    <link href="~/Primery_Site_tempelate/assets/css/main.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="assets/css/main.css">*@
</head>
<body>

    <!-- login----------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            <a href="#" class="account-box-logo">digismart</a>
                            <div class="account-box">
                                <div class="account-box-headline">
                                    <a href="#" class="login-ds active">
                                        <span class="title">log in</span>
                                        <span class="sub-title">به فروشگاه باگتو</span>
                                    </a>
                                    <a href="~/authentication/signup" class="register-ds">
                                        <span class="title">Register</span>
                                        <span class="sub-title">در فروشگاه باگتو</span>
                                    </a>
                                </div>
                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>Login to account</h4>
                                        <form class="form-account text-right">
                                            <div class="form-account-title">
                                                <label for="email-phone">email</label>
                                                <input type="text" class="number-email-input" id="Email" name="email-account">
                                            </div>
                                            <div class="form-account-title">
                                                <label for="password">password</label>
                                                <a href="#" class="account-link-password">I forgot my password</a>
                                                <input type="password" class="password-input" id="Password">
                                            </div>
                                            <div class="form-auth-row">
                                                <label for="#" class="ui-checkbox mt-1">
                                                    <input type="checkbox" value="1" name="login" id="remember">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="remember" class="remember-me mr-0">remember me</label>
                                            </div>
                                            <div class="form-row-account">
                                                <a onclick="Login()" class="btn btn-primary btn-login">Enter the store  </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- scroll_Progress------------------------->
    @*<script src="~/Primery_Site_tempelate/assets/js/vendor/jquery-3.2.1.min.js"></script>*@

    <script src="~/Primery_Site_tempelate/assets/js/vendor/bootstrap.js"></script>
    <!-- plugin----------------------------------------------------->
    <script src="~/Primery_Site_tempelate/assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/Primery_Site_tempelate/assets/js/vendor/jquery.countdown.js"></script>
    <script src="~/Primery_Site_tempelate/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/Primery_Site_tempelate/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="~/Primery_Site_tempelate/assets/js/vendor/wNumb.js"></script>
    <script src="~/Primery_Site_tempelate/assets/js/vendor/nouislider.min.js"></script>
    <!-- main js---------------------------------------------------->
    <script src="~/Primery_Site_tempelate/assets/js/main.js"></script>
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        function Login() {
            
            var Email = $("#Email").val();
            var Password = $("#Password").val();
            var postData = {
                'Email': Email,
                'Password': Password,
            };
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                url: "Singin",
                type: "POST",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'success',
                            data.message,
                            'success'

                        ).then(function (isConfrim) {
                            window.location.replace("/");
                        });
                    }
                    else {
                        swal.fire(
                            'warning',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    swal.fire(
                        'warning',
                        request.responseText,
                        'warning'
                    );
                }
            });
        }
    </script>

</body>

</html>
